<h1>餐廳後台</h1>

<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/admin/categories">Categories</a>
  </li>
</ul>

{{#if category}}
  <form action="/admin/categories/{{category.id}}?_method=PUT" method="POST">
    <div class="mb-3 d-flex" >
      <div class="col-2 me-2">
        <input class="form-control" type="text" name="name" id="name" placeholder="Enter New Category" value="{{category.name}}">
      </div>
      <div class="col-1">
        <button type="submit" class="btn btn-warning">Submit</button>
      </div>
      <div class="col-2"> 
        <a class="btn btn-link link-secondary" href="/admin/categories">or Create New</a>
        </div>
    </div>
  </form>
{{else}}
  <form action="/admin/categories" method="POST">
    <div class="mb-3 d-flex">
      <div class="col-2 me-2">
        <input class="form-control" type="text" name="name" id="name" placeholder="Enter New Category" required>
      </div>
      <div class="col-1">
        <button type="submit" class="btn btn-success">Create</button>
      </div>
    </div>
  </form>
{{/if}}

<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/categories/{{this.id}}">
            Edit
          </a>
        </button>
        <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger"
            onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？`)">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>