<h1>使用者後台</h1>
<br />
<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
      <td>
        {{#if this.isAdmin}}
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link ps-0" onclick="return confirm(`確定要調整{{ this.name }}的權限嗎？`)">變更為使用者
          </button>
        </form>
        {{else}}
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link ps-0" onclick="return confirm(`確定要調整{{ this.name }}的權限嗎？`)">變更為管理者
          </button>
        </form>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>